@charset "utf-8";

@import "_partial/normalize";
@import "_partial/base";
@import "_partial/header";
@import "_partial/home-post-list";
@import "_partial/archive-post-list";
@import "_partial/post";
@import "_partial/footer";
@import "_partial/mq";
@import "_partial/copyright";

@font-face {
    font-family: 'sourcesanspro';
    src: url('https://ky0n.xyz/font/sourcesanspro.woff2') format('woff2'),
         url('https://ky0n.xyz/font/sourcesanspro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
